@import url("https://fonts.googleapis.com/css?family=Alice|Roboto");

:root {
  --primary-color: #ff5722;
  --secondary-color: #000000;
  --accent1-color: #fca287;
  --accent2-color: #eeeeee;

  --heading-font: "Alice";
  --paragraph-font: Roboto, Helvetica, sans-serif;

  --headline-color-on-white: #000000; /* headlines on a white background */
  --headline-color-on-color: #ff5722; /* headlines on a colored background */
  --paragraph-color-on-white: #000000; /* paragraph text on a white background */
  --paragraph-color-on-color: #fca287; /* paragraph text on a colored background */
  --paragraph-background-color: #000000;

  --black: #000000;
  --white: #000000;

  --nav-link-color: #000000;
  --nav-background-color: #fca287;
  --nav-hover-link-color: #eeeeee;
  --nav-hover-background-color: #ff5722;
}


* {
  font-family: Roboto, Helvetica, sans-serif;
}

body {
  max-width: 768px;
  margin: auto;
  padding: 10px;
}

.sr-only{
  display: none;
}

img {
  display: block;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}


.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}

.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-accent1 {
  color: var(--accent1-color);
}
.text-accent2 {
  color: var(--accent2-color);
}
.text-white {
  color: white;
}
.text-fade {
  opacity: 0.6;
}

.text-fade:hover {
  opacity: 1;
}

.text-m {
  font-size: 18px;
}
.text-large {
  font-size: 36px;
}

hr {
  border: 0;
  border-top: 2px solid var(--secondary-color);
  margin: 10px 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**************************************/
/*  header | nav | main | footer      */
/**************************************/
.page-container {
  margin: auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 40px -15px;
}

.logo {
  height: 150px;
  border-radius: 10px 0 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 20px -10px;
}

header {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}



header > h1,
header > h2 {
  color: var(--headline-color-on-color);
  align-self: center;
}
header > .header-name {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-name .name{
  font-size: 2rem;
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  font-weight: bold;
}

.social-group {
  display: flex;
  grid-gap: 3px;
}
.social-redirect {
  margin: 5px 5px;
  padding: 5px 10px;
  font-size: 24px;
  height: fit-content;
  border-radius: 5px;
  align-self: center;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}




nav {
    background-color: var(--nav-background-color);
}

nav ul {
    list-style-type: none;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}

nav a {
    transition: all .25s ease-in;
    display: block;
    color: var(--nav-link-color);
    text-align: center;
    padding: 0.6rem;
    text-decoration: none;
    text-decoration: none;
    color: inherit;
}
  
nav a:hover {
    background-color: var(--nav-hover-background-color);
}

nav a.active {
    background-color: rgba(0, 0, 0, 0.2);
}

nav a.active:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--nav-hover-link-color);
}

main {
  background-image: url('../images/bg.webp');
  padding: 1rem;
  min-height: 50vh;
}

main h1 {
  text-align: center;
  margin: .5rem 0;
  text-decoration-line: underline;
  background-color: #eeeeeebb;
  padding: 0.5rem;
  border-radius: 10px;
}

.card {
  background-color: #fca287bb;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 10px;
  margin: 15px auto;
  width: 100%;
}

footer {
  margin: auto;
  margin-top: 40px;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 40px -15px;
  background-color: var(--secondary-color);
}

footer > p {
  text-align: center;
  font-weight: bold;
  color: var(--accent2-color);
}

footer > p:last-child {
  text-align: center;
  font-weight: normal;
  color: var(--accent1-color);
  padding: 5px;
  margin: 5px;
  margin-top: -25px;
}

#hamburger::before {
  content: "≡";
}

#hamburger.show::before {
  content: "X";
}

#hamburger {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: .5rem .75rem;
  background-color: var(--secondary-color);
  color: var(--accent2-color);
}

.noDisplay {
  display: none;
}

#mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: #00000066;
  border-radius: 100%;
  padding: 0.25rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
}

.hero {
  position: relative;
  margin: -1rem -1rem 1rem -1rem;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero span {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 1.5em;
  background-color: var(--primary-color);
  color: var(--black);
  border-radius: 5px;
  padding: 5px;
}


.map {
  margin: 1rem -1rem -1rem -1rem;
  width: calc(100% + 2rem);
  margin-bottom: calc(-1rem - 5px);
  height: 40vh;
  background-color: var(--accent1-color);
}