@media (min-width: 600px) {
    header {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
    header > .header-name {
        display: contents;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .cards {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1.5rem;

    }
    .card {
        box-shadow: 10px 6px 15px 6px rgba(0, 0, 0, 0.36);
    }
}